// Import Global
@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./animations.scss";
@import "./typography_extends.scss";

// Import Modules
@import "../../Components/Header/Header.scss";
@import "../../Components/Footer/Footer.scss";


// Import Pages
@import "../../Pages/Home/Home.scss";
@import "../../Pages/About/About.scss";
@import "../../Pages/Projects/Projects.scss";
@import "../../Pages/Contact/Contact.scss";
@import "../../Pages/About/About.scss";


body{
    // background-image: linear-gradient(to right, $color-light-2 35%, $color-white 35%);
    background-color: $color-white;
}

// // REMOVE SCROLLBAR
// body::-webkit-scrollbar {
//     display: none;
// }
// body{
//         -ms-overflow-style: none;  /* IE and Edge */
//         scrollbar-width: none;  /* Firefox */
// }

.app{
    max-width: 1440px;
    margin: auto;
    background-image: linear-gradient(to right, $color-light-2 35%, $color-white 35%);


    @include bpmax($m) {
        background-image: none;
    }
}