
$color-light-1: #faebcf;
// $color-light-2: #f1d8b1;
$color-light-2: #ffebc2;
$color-dark-1: #414A86;

$color-white: #fdfbf6;
$color-black: #0f0f0f;

$color-link: #975f0a;

$color-brown-grey: #44413b;


$text-base-size: 16px;

$serif: 'Reckless Neue', 'Times New Roman', Times, serif;
$sansSerif: 'Founders Grotesk', Arial, sans-serif;
$sansSerifCond: 'Founders Grotesk Condensed', Arial, sans-serif;
$pathFont: '../fonts/';