



.chisono{
    margin-top: 80px;
    min-height: 800px;
}

.chisono__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.chisono__rightWrapper{
    // text-align: center;
    padding: 32px;
    flex: 65%;
}

.chisono__title{
    @extend %h1;
    margin-top: 64px;
    margin-bottom: 32px;
    @extend %tracking-in-expand;
}
.chisono__paragraph{
    @extend %paragraph--serif;
    margin-bottom: 32px;
    padding: 0 64px;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 48px;
}

.chisono__leftWrapper{
    display: flex;
    justify-content: center;
    flex: 35%;
}

.entry__wrapper{
    padding: 0 64px;

}

.entry__job{
    @extend %h4;
    margin-bottom: 8px;
}

.entry__employer{
    @extend %h4;
    font-size: rem(16px);
    margin-bottom: 8px;
}

.entry__date{
    @extend %occhiello--small;
    position: absolute;
    right: 65%;
    margin-right: 32px;
    margin-top: -70px;
    text-align: right;

    &::after{
        content: "";
        position: absolute;
        width: 100px;
        right: -110px;
        top: 7px;
        border-top: 1px solid black;

    }
}

.entry__item{
    line-height: rem(24px);

    &::before{
        content: '◈';
        font-size: rem(12px);
        margin-right: 8px;
    }
}