
.projects{
    margin-top: 80px;
    min-height: 1000px;
}



.projects__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.projects__rightWrapper{
    // text-align: center;
    padding: 32px;
    flex: 65%;
}

.projects__title{
    margin-top: 64px;
    @extend %h1;
    margin-bottom: 32px;
    @extend %tracking-in-expand;
}
.projects__subtitle{
    @extend %occhiello;
    margin-bottom: 32px;
}
.projects__description{
    @extend %paragraph--serif;
    margin-bottom: 64px;
    padding: 0 64px;
    text-align: justify;
    text-justify: inter-word;
}
.projects__quote{
    @extend %jumbo;
    padding: 0 64px;
    text-align: center;
    line-height: rem(64px);
}

.projects__leftWrapper{
    display: flex;
    justify-content: center;
    flex: 35%;
}

.projects__img{
    padding-top: 80px;
    max-width: 60%;
}

.projects__img2{
    width: 100%;
    &:hover{
    }
}

.projects__firstSection, .projects__secondSection, .projects__thirdSection{
    padding: 32px;
    display: flex;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(68,65,59,0.1); 
    box-shadow: 0px 0px 10px 5px rgba(68,65,59,0.1);
    margin-bottom: 48px;
}
.projects__firstSection__left{
    padding: 32px;
    flex: 1.5;
    text-align: justify;
    text-justify: inter-word;
}

.projects__firstSection__right{
    padding: 16px;
    flex: 1;
}

.projects__secondSection{
    flex-direction: row-reverse;
}

.projects__firstSection_title{
    @extend %h5;
    margin-bottom: 16px;
}