



.contact{
    margin-top: 80px;
    min-height: 800px;
}

.contact__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.contact__rightWrapper{
    // text-align: center;
    padding: 32px;
    flex: 65%;
}

.contact__title{
    @extend %h1;
    margin-top: 32px;
    margin-bottom: 32px;
    @extend %tracking-in-expand;
}
.contact__paragraph{
    @extend %paragraph--serif;
    margin-bottom: 32px;
    padding: 0 64px;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 48px;
}

.contact__leftWrapper{
    display: flex;
    justify-content: flex-start;
    flex: 35% 1;
    flex-direction: column;
    align-items: center;

    @include bpmax($m) {
        display: none;
    }
}

.contact__linkWrapper{
    padding: 0 64px;
}

.contact__social{
    font-size: rem(16px);
    margin-right: 8px;
}


.contact__socialList{
    display: flex;
    justify-content: center;
}

.contact__list{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
}

.contact__item{
    margin-bottom: 16px;
    position: relative;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
    z-index: 10;

    &:hover{
        opacity: 0.5;
    }

	&:after,
	&:before {
		content: " ";
		display: block;
		position: absolute;
		bottom: -.5em;
		width: 1em;
		height: 100%;
		background-color: lighten($color-brown-grey,10);
		pointer-events:none;
	}

	&:after {
		right: -.57em;
		z-index: -1;
	}

	&:before {
		bottom: auto;
		top: -.5em;
		left: -.57em;
		z-index: -1;
	}

}

.contact__link{
    width: 200px;
    font-size: rem(20px);
    line-height: rem(28px);
    display: inline-block;
    position: relative;
    padding: .15em .75em;
    text-decoration: none;
    color: darken($color-white,0);
    background-color: lighten($color-brown-grey,20);
    cursor: pointer;

    &:after,
    &:before {
        content: " ";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        bottom: -.5em;
        left: -.05em;
        pointer-events: none;
        -webkit-mask: none;
    }

    &:before {
        bottom: auto;
        top: -.5em;
        border-bottom: .5em solid darken($color-brown-grey,10);
        border-left: .5em solid transparent;
    }

    &:after {
        left:  auto;
        right: -.05em;
        border-top: .5em solid darken($color-brown-grey,10);
        border-right: .5em solid transparent;
    }
}
 

.contact__form{
    -webkit-box-shadow: 0px 0px 10px 5px rgba(68,65,59,0.1); 
    box-shadow: 0px 0px 10px 5px rgba(68,65,59,0.1);
    background-color: $color-light-2;
    border-bottom: 2px solid $color-brown-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px;
    padding: 32px  0;
}

.contact__formTitle{
    @extend %h4;
    margin: 0 64px;
    margin-bottom: 32px;
}

.contact__group{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 64px;
    font-size: rem(18px);
    margin-bottom: 16px;
}

.contact__label{
    margin-right: 32px;
    padding: 8px;

    &::after{
        content: " *";
    }
}

.contact__input{
    background-color: $color-white;
    width: 100%;
    padding: 9px;
    outline: 1px solid $color-brown-grey;
}

.contact__button{
    background-color: $color-brown-grey;
    color: $color-white;
    width: 100px;
    height: 50px;
    margin-top: 16px;
    border-radius: 15px;

    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}

.contact__errorMessage{
    margin-top: 8px;
    color: rgb(155, 0, 0);
}

.contact__success{
    background-color: $color-brown-grey;
    color: $color-white;
    position: fixed;
    padding: 4px;
    width: 320px;
    box-sizing: border-box;
    bottom: 1em;
    right: 1em;
}