
.home__sectionTitle{
    margin-top: 64px;
    @extend %h2;
    margin-bottom: 32px;
    text-align: center;
}


.home__title{
    margin-top: 96px;
    @extend %h1;
    margin-bottom: 32px;

    @extend %tracking-in-expand;

    @include bpmax($m) {
        margin-top: 0px;
    }
}
.home__subtitle{
    @extend %occhiello;
    margin-bottom: 32px;
}
.home__description{
    @extend %paragraph--serif;
    margin-bottom: 48px;
    text-align: justify;
    text-justify: inter-word;

    b, strong{
        font-weight: 600;
    }
    u{
        text-decoration:underline;
    }
    a{
        color: $color-link;
        text-decoration:underline;
    }
    i{
        font-style: italic;
    }

    li{
        line-height: rem(24px);
    
        &::before{
            content: '◈';
            font-size: rem(12px);
            margin-right: 8px;
        }
    }

}

.home__quote{
    @extend %jumbo;
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 0 32px;
    text-align: center;
    line-height: rem(80px);

    @include bpmax($m) {
        padding: 0;
        line-height: 3rem;
    }
}



.home__tagsWrapper{
    text-align: center;
    padding: 20px;
    width: 60%;
    border-radius: 29px;
    outline: 4px solid $color-brown-grey;
    outline-style: double;
}

.home__tags{
    margin: 4px;
    font-weight: 600;
    font-family: $sansSerif;
    letter-spacing: 1px;
    display: inline-block;

    &--color1{
        color: $color-accent-1;
    }    
    &--color2{
        color: $color-accent-2;
    }    
    &--color3{
        color: $color-accent-3;
    }    
    &--color4{
        color: $color-accent-4;
    }    
    &--color5{
        color: $color-accent-5;
    }    
    &--color6{
        color: $color-accent-6;
    }
}

.home__img{
    margin-top: 80px;
    margin-bottom: 64px;
    padding-top: 100px;
    max-width: 50%;
    height: auto;

    @include bpmax($m) {
        padding-top: 32px;
    }
}

.home__img2{
    width: 100%;
}
