
.section
{
    // background: #ffffff;
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #0e0d0d;
    // text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(even)
{
    justify-content: flex-end;
}

.home__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}


.home{
    margin-top: 80px;
}

.home__rightWrapper{
    // text-align: center;
    padding: 32px;
    flex: 65%;
}

.home__title{
    margin-top: 64px;
    @extend %h1;
    margin-bottom: 32px;
    @extend %tracking-in-expand;
}
.home__subtitle{
    @extend %occhiello;
    margin-bottom: 32px;
}
.home__description{
    @extend %paragraph--serif;
    margin-bottom: 32px;
    padding: 0 64px;
    text-align: justify;
    text-justify: inter-word;

    b, strong{
        font-weight: 600;
    }
    u{
        text-decoration:underline;
    }
    a{
        color: $color-link;
        text-decoration:underline;
        
    }

}

.home__quote{
    @extend %jumbo;
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 0 64px;
    text-align: center;
    line-height: rem(64px);
}
.home__line{
    background: linear-gradient(to right, $color-white, $color-light-2, $color-link, $color-light-2, $color-white);
    height: 3px;
    margin:  64px;
}

.home__images{
    display: flex;
    justify-content: space-around;
    margin: 0 64px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.home__imgItem{
    max-width: 30%;
}

.home__leftWrapper{
    display: flex;
    justify-content: center;
    flex: 35%;
}

.home__img{
    padding-top: 80px;
    max-width: 60%;
}

.home__img2{
    width: 100%;
    &:hover{
    }
}