
.section
{
    // background: #ffffff;
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #0e0d0d;
    // text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(even)
{
    justify-content: flex-end;
}

.home__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    @include bpmax($m) {
        flex-direction: column;
        align-items: stretch;
    }
}


.home{
    margin-top: 80px;
}

.home__rightWrapper{
    // text-align: center;
    padding: 32px;
    flex: 65%;
}

.home__sectionTitle{
    margin-top: 64px;
    @extend %h2;
    margin-bottom: 32px;
    text-align: center;
}


.home__title{
    margin-top: 32px;
    @extend %h1;
    margin-bottom: 32px;

    @extend %tracking-in-expand;
}
.home__subtitle{
    @extend %occhiello;
    margin-bottom: 32px;
}
.home__description{
    @extend %paragraph--serif;
    margin-bottom: 32px;
    padding: 0 64px;
    text-align: justify;
    text-justify: inter-word;

    b, strong{
        font-weight: 600;
    }
    u{
        text-decoration:underline;
    }
    a{
        color: $color-link;
        text-decoration:underline;
    }
    i{
        font-style: italic;
    }

    @include bpmax($m) {
        padding-left: 0;
        padding-right: 0;
    }

    li{
        line-height: rem(24px);
    
        &::before{
            content: '◈';
            font-size: rem(12px);
            margin-right: 8px;
        }
    }

}

.home__quote{
    @extend %jumbo;
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 0 120px;
    text-align: center;
    line-height: rem(80px);

    @include bpmax($m) {
        padding: 0;
        line-height: 3rem;
    }
}
.home__line{
    background: linear-gradient(to right, $color-white, $color-light-2, $color-link, $color-light-2, $color-white);
    height: 3px;
    margin:  64px;
}

.home__images{
    display: flex;
    justify-content: space-around;
    margin: 0 64px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px;

    @include bpmax($m) {
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.home__imgItemWrapper{
    display: contents;
}

.home__imgItem{
    max-width: 30%;
    margin-bottom: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;


    &:hover, &:active {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); 
    }

    @include bpmax($xs) {
        max-width: 70%;
    }
}

.home__leftWrapper{
    display: flex;
    justify-content: center;
    flex: 35%;
}

.home__img{
    padding-top: 80px;
    max-width: 60%;

    @include bpmax($m) {
        padding-top: 32px;
    }
}

.home__img2{
    width: 100%;
    &:hover{
    }
}

.testimonial__list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}

.testimonial__item{
    max-width: 40%;
    background-color: $color-light-2;
    padding: 32px;
    padding-top: 48px;
    margin-top: 48px;
    position: relative;
    border-bottom: 2px solid $color-brown-grey;

    @include bpmax($m) {
        max-width: 90%;
    }

    &::after{
        content: '“';
        font-size: 64px;
        line-height: 100px;
        text-align: center;
        color: $color-light-2;
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        top: -35px;
        background-color: $color-brown-grey;
        left: 50%;
        margin-left: -35px;
      
    }
}
.testimonial__person{
    margin-top: 16px;
    font-style: italic;
}