


.contactForm__form{
    // -webkit-box-shadow: 0px 0px 10px 5px rgba(68,65,59,0.1); 
    // box-shadow: 0px 0px 10px 5px rgba(68,65,59,0.1);
    background-color: $color-light-2;
    outline: 4px solid $color-brown-grey;
    outline-style: double;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 0;
    padding: 32px  0;

    @include bpmax($m) {
        margin: 16px 0;
    }
}

.contactForm__formTitle{
    @extend %h4;
    margin: 0 64px;
    margin-bottom: 32px;
}

.contactForm__group{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 64px;
    font-size: rem(18px);
    margin-bottom: 16px;

    @include bpmax($xs) {
        padding: 0 32px;
    }

    @include bpmax($xxs) {
        padding: 0 16px;
    }
}

.contactForm__label{
    margin-right: 32px;
    padding: 8px;

    &::after{
        content: " *";
    }
}

.contactForm__input{
    background-color: $color-white;
    width: 100%;
    padding: 9px;
    outline: 1px solid $color-brown-grey;
}

.contactForm__button{
    background-color: $color-brown-grey;
    color: $color-white;
    width: 100px;
    height: 50px;
    margin-top: 16px;
    border-radius: 15px;

    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}

.contactForm__errorMessage{
    margin-top: 8px;
    color: rgb(155, 0, 0);

    &::before{
        content: "⚠";
        margin-right: 8px;
    }
}

.contactForm__success{
    background-color: $color-brown-grey;
    color: $color-white;
    position: fixed;
    padding: 4px;
    width: 300px;
    box-sizing: border-box;
    bottom: 0.5em;
    right: 0.5em;
}