

.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 0;
    background: $color-white;
    height: 80px;

    &--light{
        // background-color: yellow;
    }    
    
    &--dark{
        // background-color: blue;
    }
}

.header__wrapper{
    max-width: 1008px; // 1440px 70%
    width: 70%;
    margin-left: auto;
    position: relative;
    margin-right: auto;

    @include bpmax($xxs) {
        width: 100%;
    }
}


.header__list{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 1px -1px rgba(111, 99, 119, 0.4);

    @include bpmax($m) {
        height: 80px;
    }
}

.header__item{
    // width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    background: $color-light-1;
    font-size: 1.175rem;
    flex: 1;

    &--title{
        flex: 1.5;
    }

    @include bpmax($m) {
        font-size: 1rem;
    }
}

.header__link{
    padding: 16px 8px;
    text-align: center;
    min-width: 103px;
    outline: 4px solid $color-white;
    outline-offset: -10px;
    outline-style: double;

    @include bpmax($m) {
        outline-offset: -10px;
    }
    
    &:focus-visible {
        outline: 2px solid blue;
    }

    &--active{
        outline-color: $color-brown-grey;
    }

    &:hover{
        outline-color: $color-link;
    }
}

.header__title{
    font-size: 1.5rem;
    // font-weight: 600;

    &::before{
        content: "- ";
    }    
    &::after{
        content: " -";
    }

    @include bpmax($m) {

        font-size: 1.175rem;

        &::before{
            content: "";
        }    
        &::after{
            content: "";
        }
    }
}


.header__innerBefore, .header__innerAfter {
    content: "";
    bottom: -0.75em;
    position: absolute;
    display: block;
    border-style: solid;
    border-color: $color-brown-grey transparent transparent transparent;
    z-index: -1;
    
    @include bpmax($xxs) {
        display: none;
    }
}
.header__innerBefore{
    left: 0;
    border-width: 0.8em 0 0 0.8em;
}
.header__innerAfter{
    right: 0;
    border-width: 0.8em 0.8em 0 0;
}

.header__before, .header__after {
    content: "";
    width: 0.6em;
    bottom: -0.7em;
    position: absolute;
    display: block;
    border: 1.5em solid $color-light-1;
    box-shadow: 0 2px 1px -1px rgba(111, 99, 119, 0.4);
    z-index: -2;

    @include bpmax($xxs) {
        display: none;
        box-shadow: none;
    }
}

.header__before{
    left: -2.2em;
    // border-right-width: 1.05em;
    border-left-color: transparent;
}

.header__after{
    right: -2.2em;
    // border-left-width: 1.05em;
    border-right-color: transparent;
}