


.timeline__wrapper{
    position: relative;
    padding: 32px;
    margin-bottom: 48px;

    outline: 4px solid $color-light-2;
    outline-style: double;

    &:hover{
        outline-color: $color-link;
    }
}

.timeline__job{
    @extend %h4;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: rem(28px);

    @include bpmax($m) {
        line-height: rem(28px);
    }
}

.timeline__employer{
    @extend %h5;
    font-size: rem(20px);
    padding-bottom: 16px;

    &:hover{
        color: $color-link;
    }

    @include bpmax($m) {
        line-height: rem(24px);
    }
}
.timeline__grade, .timeline__description{
    padding-bottom: 16px;
}

.timeline__grade{
    font-weight: 600;
}

.timeline__link{
    padding: 16px 0;
}

.timeline__date{
    @extend %occhiello--verySmall;
    position: absolute;
    // right: 32px;
    top: -20px;
    // text-align: right;
}

.timeline__item{
    line-height: rem(20px);
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 8px;

    &::before{
        content: '◈';
        font-size: rem(12px);
        margin-right: 8px;
    }
}

