.footer{


}

.footer__wrapper{
    height: 400px;
    background-color: $color-brown-grey;
    color: $color-white;
    padding: 48px;

    @extend %occhiello--small;
}

.footer__socialList{
    display: flex;
}

.footer__link{
    display: block;
    margin-right: 16px;
    height: 48px;
}

.footer__social{
    width: 24px;
    height: 24px;
    padding: 12px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;


    &:hover, &:active {
        color: #FFF;
        -webkit-box-shadow: 1px 1px 3px #333;
        -moz-box-shadow: 1px 1px 3px #333;
        box-shadow: 1px 1px 3px #333; 
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); 
    }

    &.footer__social--facebook{
        background-color:#3C599F;
    }
    &.footer__social--linkedin{
        background-color:#0085AE;
    }

    &.footer__social--messenger{
        background-color:#229ACC;
    }

    &.footer__social--email{
        background-color:#A1755C;
    }

}
 